{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>License Plate</th>
            <th>Province</th>
            <th>Brand</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row.0 }}</td>
            <td style="white-space: pre-line;">{{ row.1 }}</td>
            <td style="white-space: pre-line;">{{ row.2 }}</td>
            <td style="white-space: pre-line;">{{ row.3 }}</td>
            <td><a href="/static/upload/{{row.4}}" data-featherlight><img src="/static/upload/{{row.4}}"
                        width="10%"></a>
            </td>
        </tr>
        {% endfor %}
        <!-- <tr>
            <td></td>
            <td style="white-space: pre-line;"></td>
            <td style="white-space: pre-line;"></td>
            <td style="white-space: pre-line;"></td>
            <td><a href="/static/upload/" data-featherlight><img src="/static/upload/" width="10%"></a>
            </td>
        </tr> -->
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
                null,
                { searchable: true },
                { orderable: false, searchable: false },
                { orderable: false, searchable: false },
                null],
            'processing': true,
            'serverSide': true,
            'serverMothod': 'post',
            searching: true,
            // "ajax": {
            //     "url": "http://127.0.0.1:5000/dttb",
            //     "type": "POST"
            // },
            // 'columns': [
            //     { data: 'id' },
            //     { data: 'plate' },
            //     { data: 'province' },
            //     { data: 'brand' },
            //     { data: 'image', orderable: false, searchable: false }
            // ],
        });
    });
</script>
{% endblock %}