{% extends "base.html" %}

{% block content %}
<div class="py-4 ">
    <section id="contact" class="contact">
        <div class="container position-relative" data-aos="fade-up">
            <div class="row gy-4 d-flex justify-content-end">

                <div class="info-item d-flex">
                    <div>
                        <div class="input-group col-xs-2">
                            <div class="input-group-text">เลขป้ายทะเบียน</div>
                            <input type="text" name="edate" id="edate" value=""
                                class="form-control form-control-sm input-sm" readonly style="background-color: white;">
                        </div>
                    </div>
                </div>
                <div class="info-item d-flex">
                    <div>
                        <div class="input-group col-xs-2">
                            <div class="input-group-text">จังหวัด</div>
                            <input type="text" name="edate" id="edate" value=""
                                class="form-control form-control-sm input-sm" readonly style="background-color: white;">
                        </div>
                    </div>
                </div>
                <div class="info-item d-flex">
                    <div>
                        <div class="input-group col-xs-2">
                            <div class="input-group-text">ยี่ห้อ</div>
                            <input type="text" name="edate" id="edate" value=""
                                class="form-control form-control-sm input-sm" readonly style="background-color: white;">
                        </div>
                    </div>
                </div>

                <div class="info-item d-flex">
                    <div>
                        <div class="input-group col-xs-2">
                            <div class="input-group-text">วันที่บันทึก</div>
                            <input type="text" name="edate" id="edate" value=""
                                class="form-control form-control-sm input-sm" readonly style="background-color: white;">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<table id="dttb" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>License Plate</th>
            <th>Province</th>
            <th>Brand</th>
            <th>Type</th>
            <th>Color</th>
            <th>Date</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#dttb').DataTable({
            responsive: true,
            scrollY: false,
            scrollX: false,
            "searching": false,
            "paging": false,
            "ordering": true,
            "info": false,
            ajax: '/api/table',
            columns: [
                {
                    data: 'id',
                    "defaultContent": "-",
                    width: '5%'
                },
                {
                    data: 'plate',
                    "defaultContent": "-",
                    width: '10%',
                    "render": function (data, type, row) {
                        if (data != null) {
                            return data.split("\n").join("<br/>");
                        }
                    },
                },
                {
                    data: 'province',
                    "defaultContent": "-",
                    width: '10%',
                    "render": function (data, type, row) {
                        if (data != null) {
                            return data.split("\n").join("<br/>");
                        }
                    },

                },
                {
                    data: 'brand',
                    "defaultContent": "-",
                    width: '10%',
                    "render": function (data, type, row) {
                        if (data != null) {
                            return data.split("\n").join("<br/>");
                        }
                    },
                },
                {
                    data: 'type',
                    "defaultContent": "-",
                    width: '10%',
                    "render": function (data, type, row) {
                        if (data != null) {
                            return data.split("\n").join("<br/>");
                        }
                    },

                },
                {
                    data: 'color',
                    "defaultContent": "-",
                    width: '10%',
                    "render": function (data, type, row) {
                        if (data != null) {
                            return data.split("\n").join("<br/>");
                        } else {
                            data = "-"
                            return data
                        }
                    },
                },
                {
                    data: 'upload_date',
                    // "defaultContent": "-",
                    width: '10%',
                },
                {
                    data: 'image',
                    "defaultContent": "-",
                    width: '5%',
                    render: function (data, type, row) {
                        if (data === null || data === "") {
                            return "-"
                        } else {
                            return `<a href="/static/upload/${data}" data-featherlight><img src="/static/upload/${data}" width="70%"></a>`;
                        }
                    },
                    orderable: false, searchable: false
                },
            ],
            columnDefs: [
                // {
                //     render: function (data, type, full, meta) {
                //         return "<div class='text-wrap width-200'>" + data + "</div>";
                //     },
                //     targets: 3
                // },
                // {
                //     "defaultContent": "-",
                //     "targets": "_all"
                // }
            ]
        });
    });
</script>
{% endblock%}